<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Routes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Routes </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Route Id</th>
                    <th>Planet Origin</th>
                    <th>Planet Destination</th>
                    <th>Distance</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${routes.empty}">
                    <td colspan="2"> No Routes Available </td>
                </tr>
                <tr th:each="route : ${routes}">
                    <td><span th:text="${route.routeId}"> Route Id </span></td>
                    <td><span th:text="${route.planetOrigin}"> Planet Origin </span></td>
                    <td><span th:text="${route.planetDestination}"> Planet Destination </span></td>
                    <td><span th:text="${route.distance}"> Distance </span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/routes/create}"> Add Routes </a>
            <a class="btn btn-primary" href="#" th:href="@{/routes/delete}" th:classappend="${routes.empty} ? 'disabled' : ''"> Delete Routes </a>
            <a class="btn btn-primary" href="#" th:href="@{/routes/path}" th:classappend="${routes.empty} ? 'disabled' : ''"> Calculate Shortest Path </a>
        </div>
    </div>
</div>
</body>
</html>