<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Routes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Routes </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/routes/showRoutes}"> Back to Routes </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/routes/save}"
                  th:object="${routes}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Route Id</th>
                            <th>Planet Origin</th>
                            <th>Planet Destination</th>
                            <th>Distance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input th:field="*{routeId}" required/></td>
                            <td><input th:field="*{planetOrigin}" required/></td>
                            <td><input th:field="*{planetDestination}" required/></td>
                            <td><input th:field="*{distance}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>