<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shortest Path</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Shortest Path </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Planet Origin</th>
                    <th>Planet Destination</th>
                    <th>Distance</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="routeDetail : ${routeDetails}">
                    <td><span th:text="${routeDetail.sourcePlanetName}"> Planet Origin </span></td>
                    <td><span th:text="${routeDetail.destinationPlanetName}"> Planet Destination </span></td>
                    <td><span th:text="${routeDetail.minLightYearDistance}"> Distance </span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-info" href="#" th:href="@{/routes/showRoutes}"> Back to Routes </a>
    </div>
</div>
</body>
</html>